<div class="frame-12">
  <div class="rectangle-22"></div>
  <div class="div2">처음으로</div>
  <div class="div3"></div>
  <div class="tand">TAND</div>
  <div class="div4">- 내 손안의 여행</div>
  <div class="div5"></div>
  <div class="mainbox"></div>
  <div class="div6">
    <div class="div7">일정</div>
  </div>
  <div class="div8">
    <img class="div9" src="div10.png" />
    <div class="_2">
      <div class="rectangle-63"></div>
      <div class="rectangle-19"></div>
      <div class="div10">가나다라마바사</div>
    </div>
    <div class="_1">
      <div class="rectangle-62"></div>
      <div class="rectangle-18"></div>
      <div class="div11">가나다라마바사</div>
    </div>
    <div class="div12">추천</div>
  </div>
  <div class="div13">
    <div class="div14">
      <div class="div15"></div>
      <div class="div16">메모 추가하기</div>
      <div class="div17">+</div>
      <div class="div18">○</div>
    </div>
    <div class="div14">
      <div class="div19"></div>
      <div class="div20">일정 추가하기</div>
      <div class="div21">+</div>
      <div class="div22">○</div>
    </div>
  </div>
  <div class="div23">
    <div class="div24">
      <div class="rectangle-66"></div>
      <div class="div25">확정</div>
    </div>
    <div class="div26"></div>
    <div class="_22"></div>
    <div class="_12"></div>
    <div class="_3">
      <div class="_2">
        <div class="rectangle-632"></div>
        <div class="rectangle-192"></div>
        <div class="div27">가나다라마바사</div>
      </div>
      <div class="_1">
        <div class="rectangle-622"></div>
        <div class="rectangle-182"></div>
        <div class="div28">가나다라마바사</div>
      </div>
      <div class="div29">---------가나다라마--------</div>
      <div class="_32">3일차</div>
    </div>
    <div class="_23">
      <div class="_2">
        <div class="rectangle-633"></div>
        <div class="rectangle-193"></div>
        <div class="div30">가나다라마바사</div>
      </div>
      <div class="_1">
        <div class="rectangle-623"></div>
        <div class="rectangle-183"></div>
        <div class="div31">가나다라마바사</div>
      </div>
      <div class="div32">---------가나다라마--------</div>
      <div class="_24">
        2일차
        <br />
      </div>
    </div>
    <div class="_13">
      <div class="_2">
        <div class="rectangle-634"></div>
        <div class="rectangle-194"></div>
        <div class="div33">가나다라마바사</div>
      </div>
      <div class="_1">
        <div class="rectangle-624"></div>
        <div class="rectangle-184"></div>
        <div class="div34">가나다라마바사</div>
      </div>
      <div class="div35">---------가나다라마--------</div>
      <div class="_14">1일차</div>
    </div>
    <div class="div36"></div>
  </div>
</div>
